.game{
    max-width:262px;
    width:100%;
    display: inline-block;
    text-align:center;
    vertical-align: top;

    &:hover{
        .info-bottom{
            .transition{
                transition: transform .3s;
                transform-origin: -20px;
                transform: translate(0px, -54px);
            }
        }
    }

    .info-bottom{
        overflow:hidden;
        height:60px !important;
        button{
            color: #3487DC;
            font-weight:700;
            background:transparent;
            border:0;
            outline:none;
            cursor:pointer;
            font-size:16px;
        }
        p{
            margin-top:2px;
            color: #3486E6;
            font-weight:900;
        }
        h3{
            font-size:16px;
            color: #746A6A;
            font-weight:100;
            margin-top:11px;
        }
    }
    .gray-picture{
        padding:25px 41px 25px 41px;
        background: #EEEEEE;
        border-radius:3px;
    }



}

.margin-box{
    margin-bottom:50px;
    margin-left:20px;
}