@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
  color: #363636;
}

// DIVs

.box-all {
  max-width: 1140px;
  padding-left:70px;
  padding-right:70px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top:55px;
}

.b-1 {
  max-width: 849px;
  width:100%;
}

.b-2 {
  width: 262px;
}

// TITLES

h1 {
  font-weight: 600;
  font-size:48px;
}

h2 {
  font-size: 18px;
}

//PADDING AND MARGIN
.p-r-20{
  padding-right:20px;
}

.no-margin{
  margin-right:0 !important;
}


// ALIGN ITEMS WITH FLEXBOX

.flex-side {
  display: flex;
}

.flex-align-center{
  align-items: center !important;
}

.flex-space-between{
  justify-content: space-between;
}

// HEIGHT AND WIDTH

.height-header{
  height:43px;
  margin-bottom:55px;
  padding-left:20px;
  padding-right:2.5px;
}