.cart-box {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 25px 25px 0px 25px;
  min-height: 280px;

  h2 {
    margin-top: 0px;
  }
  .cart-icon {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .desc {
    color: #746a6a;
    font-size: 14px;
    text-align: center;
    margin-top: 18px;
  }
  .items {
    .payment-information{
      width:200px;
      bottom:0 !important;
      margin-top:30px;
      margin-bottom:14px;
      button{
        margin-top:18px;
        background: #54A3FF;
        font-size:14px;
        font-weight:600;
        text-align:center;
        border:none;
        color:#fff;
        width:100%;
        border-radius: 3px;
        height:50px;
        line-height:50px;
      }
      .total{
        display:flex;
        justify-content: space-between;
        align-items: center;
        p{
          color:#7F7575;
          font-size:14px;
          margin-top:8px;
          margin-bottom:8px;
        }
        h4{
          font-size:16px;
        }
        .total-value{
          font-size:18px !important;
        }
      }
    }
    .item {

      &:hover{
        .remove{
          display:block;
        }
      }
      margin-top: 20px;
      position:static;
      .remove{
        display:block;
        background:#54A3FF;
        width:15px;
        height:16px;
        border-radius:100%;
        color:#fff;
        font-weight:900;
        text-align:center;
        font-size:9px;
        line-height:16.7px;
        padding-left:1px;
        cursor:pointer;
        position:absolute;
        margin-left:200px;
        margin-top:-35px;
        display:none;
      }
      .top-item {
        background: #eeeeee;
        vertical-align: middle;
        img {
          width: 41px;
          margin-top: 6px;
        }
        width: 60px;
        text-align: center;
        height: 53px !important;
        display: inline-block;
      }
      .bottom-item {
        width: 130px;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
        h4 {
          font-size: 14px;
          letter-spacing: 0;
          color: #7f7575;
          font-weight: 100;
        }
        .price {
          color: #423b3b;
          font-weight: 900;
          margin-top: 5px;
          margin: 0;
        }
      }
    }
  }
}
