
.filter-games{
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    opacity: 1;
    background:transparent;
    height:40px;
    width:262px;
    padding-left:18px;
    outline:none;
    float:right !important;
}